<div class="container px-4 mx-auto my-10 lg:px-0">
  <div class="w-full m-auto lg:w-1/2">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm lg:p-10">
      <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
          <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
              <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
              Flowbite    
          </a>
          <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <%= yield :form_block %>
          </div>
        </div>
      </section>        
    </div>
  </div>
</div>
